#include "resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_KAU       ICON         "data\\icon.ico"
